# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore Git
.git
.gitignore

# Ignore CI/CD configs
Jenkinsfile
argocd_install.sh
terraform.tfstate

# Ignore infrastructure code
infra/
helm/
*.tf
*.tfvars

# Ignore local files
*.log
*.tmp
*.swp
