apiVersion: v1
kind: Service
metadata:
  name: jenkins
spec:
  type: {{ .Values.controller.serviceType }}
  ports:
    - port: 8080
      targetPort: 8080
      name: http
    - port: 50000
      targetPort: 50000
      name: agent
  selector:
    app: jenkins
