controller:
  image: jenkins/jenkins:lts
  serviceType: LoadBalancer
  adminUser: admin
  adminPassword: admin123

  podSecurityContext:
    fsGroup: 1000
  containerSecurityContext:
    runAsUser: 1000
    runAsGroup: 1000

  # Custom init-container to fix volume permissions
  customInitContainers:
    - name: fix-permissions
      image: busybox
      imagePullPolicy: IfNotPresent
      command: ["sh", "-c", "chown -R 1000:1000 /var/jenkins_home"]
      volumeMounts:
        - name: jenkins-home
          mountPath: /var/jenkins_home

persistence:
  enabled: true
  size: 1Gi
  storageClass: gp3

serviceType: LoadBalancer
