jenkins:
  controller:
    image:
      registry: docker.io
      repository: jenkins/jenkins
      tag: lts
      pullPolicy: Always

    adminUser: admin
    adminPassword: admin123

    serviceType: LoadBalancer
    servicePort: 8080
    targetPort: 8080

    agentListenerServiceType: LoadBalancer
    agentListenerPort: 50000
  persistence:
    enabled: true
    size: 1Gi
    storageClass: gp3
